* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  text-align: center;
}

footer {
  padding: 2rem;
  text-align: center;
}

footer a {
  margin: 0 1rem;
  color: #444;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.description {
  font-size: 1.25rem;
  color: #444;
}

.poem {
  margin-top: 5rem;
  font-size: 1.25rem;
  color: #444;
}
